.card__trash {
  position: absolute;
  width: 18px;
  height: 19px;
  top: 20px;
  right: 20px;
  background: url(../../../images/svg/Trash.svg) no-repeat;
  z-index: 10;
  transition: 0.3s ease;
  transform: translate(0%, -30%) scale(0);
}

.card__trash:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card:hover .card__trash {
  transform: translateY(0%) scale(100%);
}

@media (max-width: 768px) {
  .card__trash {
    transform: translateY(0%) scale(100%);
  }
}
