.card {
  margin: 0;
  padding: 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 63px;
  grid-template-rows: 282px 1fr;
  width: 282px;
  height: 361px;
  list-style: none;
  overflow: hidden;
  border-radius: 10px;
  background-color: #fff;
  transition: 0.3s ease-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.03);
  /* box-shadow: 0 0 15px 10px rgba(70, 70, 147, 0.63); */
}
