.logo {
  width: 142px;
  height: 42px;
  margin: 0;
  justify-self: start;
}

@media (max-width: 915px) {
  .logo {
    margin-left: 27px;
  }
}

@media (max-width: 375px) {
  .logo {
    width: 104px;
    height: 25px;
  }
}
